/*!
 * SPDX-FileCopyrightText: (C) Copyright 2024 Regione Piemonte
 * 
 * SPDX-License-Identifier: EUPL-1.2
*/
.radio-label{
    padding-right: 40px;
    font-weight: bold;
}

.input-fattura{
    padding-top: 30px; 
    padding-right: 50px; 
    padding-bottom: 20px;
}
.row-space20{
    padding-bottom: 20px;
}