/*!
 * SPDX-FileCopyrightText: (C) Copyright 2024 Regione Piemonte
 * 
 * SPDX-License-Identifier: EUPL-1.2
*/


.green{
  color: green;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.f-15 {
  font-size: 15px;
  margin-top: 0.5rem;
  margin-bottom: 0px;
}

.icon {
  font-size: 24px;
}

.fa-pencil-square-o {
  font-size: 100px;
}

.container {
  display: flex;
  align-items: center;
}

.row {
  /* background-color: #0984e3;
  color: white;
  border-radius: 3px;
  border:2px solid  #0470af; */
}

.header {
  font-size: 20px;
  margin: auto;
}

p {margin: 10px 0px;}

th {padding-right: 20px; font-weight: bold;}
th.w-200{width: 200px;}

/*p-button {margin: 0px 10px;}*/

.grey1 {
  background: #f2f2f2;
  padding: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  box-shadow: none;
  border-radius: 0;
}

.grey1 h4 {
  margin-top: 0;
  padding: 0;
  margin-bottom: 3.8rem;
}


.grey1 .table-striped tbody tr, .grey1 .table-striped thead tr {
  background-color: #fff;
}

.grey1 .table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}



.buttons {
  margin-bottom: 30px;
}

.disabledALL {
  pointer-events: none;
  opacity: 0.8;
}


