#
#  SPDX-FileCopyrightText: (C) Copyright 2024 Regione Piemonte
#  
#  SPDX-License-Identifier: EUPL-1.2
#
####################################################
# vifo - vifoapi                  #
# ==========                                       #
# Configurazione di ambiente: <ambiente>           #
####################################################

# impostare a true nel caso in cui si debba disabilitare 
# la protezione XSRF
xsrffilter.disabled=false

# impostare a true per permettere il passaggio di un finto header shibboleth
# tramite request parameter (modalita' di sviluppo in assenza di configurazione
# effettiva)
idadapterfilter.devmode=false


