<!--
  SPDX-FileCopyrightText: (C) Copyright 2024 Regione Piemonte
  
  SPDX-License-Identifier: EUPL-1.2
-->
<p-table
  [columns]="headers"
  [rows]="5"
  [value]="data ? data : []"
  [paginator]="simpleTable ? false : true"
  [rowsPerPageOptions]="[5, 10, 15]"
  [rows]="5"
  [sortField]="simpleTable ? null : initiallySortedColumn"
  [sortOrder]="simpleTable ? null : 1"
  [sortMode]="simpleTable ? 'off' : 'single'"
  [tableStyleClass]="'no-select-table'"
>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <ng-container
        *ngFor="let col of columns"
        [pSortableColumn]="col.field"
        [ngSwitch]="col.field"
      >
        <th *ngIf="!col.width">
          {{ col.header }}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
        <th *ngIf="col.width" [ngStyle]="{ width: col.width }">
          {{ col.header }}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
      </ng-container>
      <th
        *ngIf="listType != 'allegati' && (download || delete || edit || view)"
      ></th>
      <th
        *ngIf="listType == 'allegati' && (download || delete || edit || view)"
        style="width: 100px"
      ></th>
    </tr>
  </ng-template>
  <ng-template
    pTemplate="body"
    let-car
    let-columns="columns"
    let-index="rowIndex"
  >
    <tr class="break-word">
      <td *ngFor="let col of columns">
        <span [ngClass]="{ 'ddt-empty': isDdtEmpty(car, col.field) }">{{
          car[col.field]
        }}</span>
      </td>
      <td *ngIf="download || delete || edit || view">
        <button
          type="button"
          *ngIf="view"
          (click)="viewRow(car[fieldToView])"
          title="Visualizza elemento {{ getDescr(car) }}"
          class="action-button"
        >
          <em class="fa fa-file" aria-hidden="true"></em>
        </button>
        <button
          type="button"
          *ngIf="edit"
          (click)="editRow(car[fieldToEdit])"
          title="Modifica elemento {{ getDescr(car) }}"
          class="action-button"
        >
          <em class="fa fa-pencil" aria-hidden="true"></em>
        </button>
        <button
          type="button"
          *ngIf="download"
          (click)="
            downloadRow(car[fieldToDownload] ? car[fieldToDownload] : index)
          "
          title="Scarica elemento {{ getDescr(car) }}"
          class="action-button"
        >
          <em class="fa fa-download" aria-hidden="true"></em>
        </button>
        <button
          type="button"
          *ngIf="delete"
          (click)="
            deleteRowFromParcels(
              car[fieldToDelete] ? car[fieldToDelete] : index,
              index
            )
          "
          title="Elimina elemento {{ getDescr(car) }}"
          class="action-button"
        >
          <em class="fa fa-trash" aria-hidden="true"></em>
        </button>
      </td>
    </tr>
  </ng-template>
</p-table>
