/*!
 * SPDX-FileCopyrightText: (C) Copyright 2024 Regione Piemonte
 * 
 * SPDX-License-Identifier: EUPL-1.2
*/
.checkboxCustom{
    height: 18px;
    width: 18px;
    margin-right: 7px;
}

.nota{
    font-style: oblique;
}