<!--
  SPDX-FileCopyrightText: (C) Copyright 2024 Regione Piemonte
  
  SPDX-License-Identifier: EUPL-1.2
-->
<div class="row">
  <div class="col-lg-4 col-md-4 col-12 mb-3">
    <input
      id="personaFisicaGiuridica1"
      type="radio"
      value="Fisica"
      [disabled]="isForcedPersonaGiuridica"
      (change)="changePersonType(1)"
      [checked]="isPersonaGiuridica == false && personalOrCompanyForm"
      name="personaFisicaGiuridica"
    />
    <label for="personaFisicaGiuridica1" class="font-weight-bold ml-1"
      >Persona Fisica</label
    >
  </div>
  <div class="col-lg-4 col-md-4 col-12 mb-3">
    <input
      id="personaFisicaGiuridica2"
      type="radio"
      value="Giuridica"
      [disabled]="isForcedPersonaGiuridica"
      (change)="changePersonType(2)"
      [checked]="isPersonaGiuridica"
      name="personaFisicaGiuridica"
    />
    <label for="personaFisicaGiuridica2" class="font-weight-bold ml-1"
      >Persona Giuridica</label
    >
  </div>
  <div class="col-lg-7 col-md-4 col-12 mb-3" style="margin-top: -25px">
    <div *ngIf="submited && !personalOrCompanyForm" class="alert alert-danger">
      Attenzione! Campo obbligatorio
    </div>
  </div>
</div>
<hr />

<div *ngIf="personalOrCompanyForm" [formGroup]="personalOrCompanyForm">
  <ng-container *ngIf="userProfile == 'RICHIEDENTE'">
    <div class="row" *ngIf="!isPersonaGiuridica">
      <div class="col-lg-4 col-md-4 col-12 mb-3">
        <label class="font-weight-bold">Codice fiscale: </label
        >{{ user.codiceFiscale }}
      </div>
      <div class="col-lg-4 col-md-4 col-12 mb-3">
        <label class="font-weight-bold">Cognome: </label>{{ user.cognome }}
      </div>
      <div class="col-lg-4 col-md-4 col-12 mb-3">
        <label class="font-weight-bold">Nome: </label>{{ user.nome }}
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="userProfile == 'VIVAIO' && !isPersonaGiuridica">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-12 mb-3">
        <label for="codiceFiscale" class="font-weight-bold"
          >Codice fiscale
          <span class="text-danger" title="campo obbligatorio">*</span></label
        >
        <input
          type="text"
          class="form-control"
          formControlName="codiceFiscale"
          id="codiceFiscale"
          maxlength="16"
        />
        <div
          *ngIf="
            personalOrCompanyForm.controls['codiceFiscale'].invalid &&
            (submited ||
              personalOrCompanyForm.controls['codiceFiscale'].dirty ||
              personalOrCompanyForm.controls['codiceFiscale'].touched)
          "
          class="alert alert-danger"
        >
          <div
            *ngIf="
              personalOrCompanyForm.controls['codiceFiscale'].errors.required
            "
          >
            Attenzione! Campo obbligatorio
          </div>
          <div
            *ngIf="
              personalOrCompanyForm.controls['codiceFiscale'].errors.minlength
            "
          >
            Attenzione! Codice fiscale errato. Deve essere di 16 caratteri
          </div>
          <div
            *ngIf="
              personalOrCompanyForm.controls['codiceFiscale'].errors
                .codiceFiscale
            "
          >
            Attenzione! Codice fiscale errato. Controllare errori di battitura
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-12 mb-3">
        <br />
        <p-button
          label="Cerca in archivio"
          (onClick)="cercaSoggettoByCf()"
        ></p-button>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-12 mb-3">
        <label for="nome" class="font-weight-bold"
          >Nome
          <span class="text-danger" title="campo obbligatorio">*</span></label
        >
        <input
          type="nome"
          class="form-control"
          formControlName="nome"
          id="nome"
          maxlength="30"
        />
        <div
          *ngIf="
            personalOrCompanyForm.controls['nome'].invalid &&
            (submited ||
              personalOrCompanyForm.controls['nome'].dirty ||
              personalOrCompanyForm.controls['nome'].touched)
          "
          class="alert alert-danger"
        >
          <div *ngIf="personalOrCompanyForm.controls['nome'].errors.required">
            Attenzione! Campo obbligatorio
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-12 mb-3">
        <label for="cognome" class="font-weight-bold"
          >Cognome
          <span class="text-danger" title="campo obbligatorio">*</span></label
        >
        <input
          type="text"
          class="form-control"
          formControlName="cognome"
          id="cognome"
          maxlength="30"
        />
        <div
          *ngIf="
            personalOrCompanyForm.controls['cognome'].invalid &&
            (submited ||
              personalOrCompanyForm.controls['cognome'].dirty ||
              personalOrCompanyForm.controls['cognome'].touched)
          "
          class="alert alert-danger"
        >
          <div
            *ngIf="personalOrCompanyForm.controls['cognome'].errors.required"
          >
            Attenzione! Campo obbligatorio
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <div class="row" *ngIf="isPersonaGiuridica">
    <div class="col-lg-9 col-md-9 col-12 mb-3">
      <label for="pec" class="font-weight-bold"
        >Tipologia soggetto
        <span class="text-danger" title="campo obbligatorio">*</span></label
      >
      <div>
        <input
          id="tipologiaSoggetto1"
          type="radio"
          value="0"
          (change)="changeSoggettoType(false)"
          [checked]="personalOrCompanyForm.get('flgEntePubblico').value == 0"
          formControlName="flgEntePubblico"
        />
        <label
          for="tipologiaSoggetto1"
          style="padding-left: 5px; padding-right: 50px"
          >Privato</label
        >
        <input
          id="tipologiaSoggetto2"
          type="radio"
          value="1"
          formControlName="flgEntePubblico"
          [checked]="personalOrCompanyForm.get('flgEntePubblico').value == 1"
          (change)="changeSoggettoType(true)"
        />
        <label
          for="tipologiaSoggetto2"
          style="padding-left: 5px; padding-right: 30px"
          >Pubblico</label
        >
      </div>
      <div style="margin-top: -10px">
        <div
          *ngIf="
            submited && !personalOrCompanyForm.get('flgEntePubblico').value
          "
          class="alert alert-danger"
        >
          Attenzione! Campo obbligatorio
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="isPersonaGiuridica && userProfile == 'RICHIEDENTE'">
    <div class="col-lg-9 col-md-9 col-12 mb-3">
      <label class="font-weight-bold" for="listAziende"
        >Elenco soggetti giuridici a te associati presenti in anagrafica</label
      >
      <p-dropdown
        [options]="myAziendeSelectItem"
        autoHighlight="true"
        inputId="listAziende"
        placeholder="Selezionare"
        [autoWidth]="false"
        (onChange)="onChangeAzienda($event)"
        [styleClass]="'autoComplete form-control d-flex justify-content-end'"
      >
      </p-dropdown>
    </div>
    <div class="col-lg-9 col-md-9 col-12 mb-3">
      Selezionare un soggetto per recuperare i suoi dati; in caso di elenco
      vuoto procedere con l’inserimento del nuovo soggetto
    </div>
  </div>
  <div class="row" *ngIf="isPersonaGiuridica">
    <div class="col-lg-9 col-md-9 col-12 mb-3">
      <label for="codiceFiscale" class="font-weight-bold"
        >Codice fiscale
        <span class="text-danger" title="campo obbligatorio">*</span></label
      >
      <input
        type="text"
        class="form-control"
        formControlName="codiceFiscale"
        id="codiceFiscale"
        maxlength="16"
      />
      <div
        *ngIf="
          personalOrCompanyForm.controls['codiceFiscale'].invalid &&
          (submited ||
            personalOrCompanyForm.controls['codiceFiscale'].dirty ||
            personalOrCompanyForm.controls['codiceFiscale'].touched)
        "
        class="alert alert-danger"
      >
        <div
          *ngIf="
            personalOrCompanyForm.controls['codiceFiscale'].errors.required
          "
        >
          Attenzione! Campo obbligatorio
        </div>
        <div
          *ngIf="personalOrCompanyForm.controls['codiceFiscale'].errors.cfPiva"
        >
          Attenzione! Il valore del campo deve essere di 11 oppure di 16
          caratteri
        </div>
        <div
          *ngIf="
            personalOrCompanyForm.controls['codiceFiscale'].errors.codiceFiscale
          "
        >
          Attenzione! Codice fiscale errato. Controllare errori di battitura
        </div>
        <div
          *ngIf="
            personalOrCompanyForm.controls['codiceFiscale'].errors.partitaIva
          "
        >
          Attenzione! Il campo ammette solo valori numerici
        </div>
        <div
          *ngIf="
            personalOrCompanyForm.controls['codiceFiscale'].errors.minlength
          "
        >
          Attenzione! Codice fiscale errato. Deve essere di 11 numeri
        </div>
        <div
          *ngIf="
            personalOrCompanyForm.controls['codiceFiscale'].errors.maxlength
          "
        >
          Attenzione! Codice fiscale errato. Deve essere di 11 numeri
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-12 mb-3" *ngIf="userProfile == 'VIVAIO'">
      <br />
      <p-button
        label="Cerca in archivio"
        (onClick)="cercaAziendaByCf()"
      ></p-button>
    </div>
  </div>
  <div class="row" *ngIf="isPersonaGiuridica">
    <div class="col-lg-9 col-md-9 col-12 mb-3">
      <label for="partitaIva" class="font-weight-bold">
        {{
          personalOrCompanyForm.get("flgEntePubblico").value == 1
            ? "Codice iPA"
            : "Partita IVA"
        }}
        <span class="text-danger" title="campo obbligatorio">*</span></label
      >
      <input
        type="text"
        class="form-control"
        formControlName="partitaIva"
        id="partitaIva"
        maxlength="11"
      />
      <div
        *ngIf="personalOrCompanyForm.get('flgEntePubblico').value == 0"
        class="nota"
      >
        In caso di assenza di Partita IVA inserire valore fittizio '00000000000'
      </div>
      <div
        *ngIf="
          personalOrCompanyForm.controls['partitaIva'].invalid &&
          (submited ||
            personalOrCompanyForm.controls['partitaIva'].dirty ||
            personalOrCompanyForm.controls['partitaIva'].touched)
        "
        class="alert alert-danger"
      >
        <div
          *ngIf="personalOrCompanyForm.controls['partitaIva'].errors.required"
        >
          Attenzione! Campo obbligatorio
        </div>
        <div
          *ngIf="personalOrCompanyForm.controls['partitaIva'].errors.pattern"
        >
          Attenzione! Il campo ammette solo valori numerici
        </div>
        <div
          *ngIf="
            personalOrCompanyForm.controls['partitaIva'].errors.minlength ||
            personalOrCompanyForm.controls['partitaIva'].errors.maxlength
          "
        >
          Attenzione! Il valore del campo deve essere
          {{
            personalOrCompanyForm.get("flgEntePubblico").value == 1
              ? "di almeno 4"
              : "di 11"
          }}
          caratteri
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="isPersonaGiuridica" class="mb-3">
    <label for="ragioneSociale" class="font-weight-bold"
      >Denominazione
      <span class="text-danger" title="campo obbligatorio">*</span></label
    >
    <input
      type="text"
      class="form-control"
      formControlName="ragioneSociale"
      id="ragioneSociale"
      maxlength="500"
    />
    <div
      *ngIf="
        personalOrCompanyForm.controls['ragioneSociale'].invalid &&
        (submited ||
          personalOrCompanyForm.controls['ragioneSociale'].dirty ||
          personalOrCompanyForm.controls['ragioneSociale'].touched)
      "
      class="alert alert-danger"
    >
      <div
        *ngIf="personalOrCompanyForm.controls['ragioneSociale'].errors.required"
      >
        Attenzione! Campo obbligatorio
      </div>
      <div
        *ngIf="
          personalOrCompanyForm.controls['ragioneSociale'].errors.maxlength
        "
      >
        Attenzione! Il valore del campo deve essere di lunghezza max 200
        caratteri
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-12 mb-3">
      <label for="indirizzo" class="font-weight-bold"
        >Indirizzo
        <span class="text-danger" title="campo obbligatorio">*</span></label
      >
      <input
        type="text"
        class="form-control"
        formControlName="indirizzo"
        id="indirizzo"
        maxlength="500"
      />
      <div
        *ngIf="
          personalOrCompanyForm.controls['indirizzo'].invalid &&
          (submited ||
            personalOrCompanyForm.controls['indirizzo'].dirty ||
            personalOrCompanyForm.controls['indirizzo'].touched)
        "
        class="alert alert-danger"
      >
        <div
          *ngIf="personalOrCompanyForm.controls['indirizzo'].errors.required"
        >
          Attenzione! Campo obbligatorio
        </div>
        <div
          *ngIf="personalOrCompanyForm.controls['indirizzo'].errors.maxlength"
        >
          Attenzione! Il valore del campo deve essere di lunghezza max 50
          caratteri
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-9 col-md-9 col-12 mb-3">
      <div>
        <label for="comune" class="font-weight-bold"
          >Comune<span class="text-danger" title="campo obbligatorio"
            >*</span
          ></label
        >
        <span style="padding-left: 20px">&nbsp;</span>
        <input
          type="checkbox"
          class="checkboxCustom"
          [checked]="isComuneEstero"
          (change)="chengeComuneEstero()"
          id="comuneEstero"
        />
        <label for="comuneEstero">estero</label>
        <p-autoComplete
          formControlName="comune"
          [forceSelection]="'true'"
          [required]="'true'"
          autoHighlight="true"
          [suggestions]="comune"
          (completeMethod)="filterComune($event)"
          inputId="comune"
          [minLength]="3"
          [forceSelection]="true"
          (onClear)="clearValue()"
          (change)="onComuneChange()"
          emptyMessage="Nessun comune trovato"
          field="nome"
          (focusout)="onComuneChange()"
          [styleClass]="
            'autoComplete d-flex formControlName.invalid?autoComplete-touched:autoComplete-touched'
          "
          [inputStyleClass]="'autoComplete-input'"
        >
        </p-autoComplete>
        <div
          *ngIf="
            personalOrCompanyForm.controls['comune'].invalid &&
            (submited ||
              personalOrCompanyForm.controls['comune'].dirty ||
              personalOrCompanyForm.controls['comune'].touched)
          "
          class="alert alert-danger"
        >
          <div *ngIf="personalOrCompanyForm.controls['comune'].errors.required">
            Attenzione! Campo obbligatorio
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-12 mb-3">
      <label for="cap" class="font-weight-bold"
        >Cap
        <span class="text-danger" title="campo obbligatorio">*</span></label
      >
      <input
        type="text"
        class="form-control"
        formControlName="cap"
        id="cap"
        maxlength="5"
      />
      <div
        *ngIf="
          personalOrCompanyForm.controls['cap'].invalid &&
          (submited ||
            personalOrCompanyForm.controls['cap'].dirty ||
            personalOrCompanyForm.controls['cap'].touched)
        "
        class="alert alert-danger"
      >
        <div *ngIf="personalOrCompanyForm.controls['cap'].errors.required">
          Attenzione! Campo obbligatorio
        </div>
        <div *ngIf="personalOrCompanyForm.controls['cap'].errors.pattern">
          <div *ngIf="personalOrCompanyForm.controls['cap'].value.length !== 5">
            Attenzione! Il campo deve essere di 5 cifre
          </div>
          <div *ngIf="personalOrCompanyForm.controls['cap'].value.length === 5">
            Attenzione! Il campo ammette solo valori numerici
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-9 col-md-9 col-12 mb-3">
      <label for="mail" class="font-weight-bold"
        >Mail
        <span class="text-danger" title="campo obbligatorio">*</span></label
      >
      <input
        type="mail"
        class="form-control"
        formControlName="mail"
        id="mail"
        maxlength="100"
      />
      <div
        *ngIf="
          personalOrCompanyForm.controls['mail'].invalid &&
          (submited ||
            personalOrCompanyForm.controls['mail'].dirty ||
            personalOrCompanyForm.controls['mail'].touched)
        "
        class="alert alert-danger"
      >
        <div *ngIf="personalOrCompanyForm.controls['mail'].errors.required">
          Attenzione! Campo obbligatorio
        </div>
        <div *ngIf="personalOrCompanyForm.controls['mail'].errors.pattern">
          Attenzione! email non valida!
        </div>
        <div *ngIf="personalOrCompanyForm.controls['mail'].errors.maxlength">
          Attenzione! Il valore del campo deve essere di lunghezza max 50
          caratteri
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-12 mb-3">
      <label for="telefono" class="font-weight-bold"
        >Telefono
        <span class="text-danger" title="campo obbligatorio">*</span></label
      >
      <input
        type="text"
        class="form-control"
        formControlName="telefono"
        id="telefono"
        maxlength="20"
      />
      <div
        *ngIf="
          personalOrCompanyForm.controls['telefono'].invalid &&
          (submited ||
            personalOrCompanyForm.controls['telefono'].dirty ||
            personalOrCompanyForm.controls['telefono'].touched)
        "
        class="alert alert-danger"
      >
        <div *ngIf="personalOrCompanyForm.controls['telefono'].errors.required">
          Attenzione! Campo obbligatorio
        </div>
        <div *ngIf="personalOrCompanyForm.controls['telefono'].errors.pattern">
          Attenzione! Il campo deve essere numerico
        </div>
        <div
          *ngIf="personalOrCompanyForm.controls['telefono'].errors.maxlength"
        >
          Attenzione! Il valore del campo deve essere di lunghezza max 20
          caratteri
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="isPersonaGiuridica">
    <div class="col-lg-9 col-md-9 col-12 mb-3">
      <label for="pec" class="font-weight-bold"
        >PEC
        <span class="text-danger" title="campo obbligatorio">*</span></label
      >
      <input
        type="text"
        class="form-control"
        formControlName="pec"
        id="pec"
        maxlength="100"
      />
      <div
        *ngIf="personalOrCompanyForm.get('flgEntePubblico').value == 0"
        class="nota"
      >
        In caso di assenza di PEC inserire valore fittizio 'no_pec@pec.it'
      </div>
      <div
        *ngIf="
          personalOrCompanyForm.controls['pec'].invalid &&
          (submited ||
            personalOrCompanyForm.controls['pec'].dirty ||
            personalOrCompanyForm.controls['pec'].touched)
        "
        class="alert alert-danger"
      >
        <div *ngIf="personalOrCompanyForm.controls['pec'].errors.required">
          Attenzione! Campo obbligatorio
        </div>
        <div *ngIf="personalOrCompanyForm.controls['pec'].errors.pattern">
          Attenzione! Indirizzo mail non valido
        </div>
        <div *ngIf="personalOrCompanyForm.controls['pec'].errors.maxlength">
          Attenzione! Il valore del campo deve essere di lunghezza max 50
          caratteri
        </div>
      </div>
    </div>
  </div>
  <div
    class="row"
    *ngIf="
      !isDomandaGratuita &&
      isPersonaGiuridica &&
      personalOrCompanyForm.get('flgEntePubblico').value == 1
    "
  >
    <div class="col-lg-6 col-md-9 col-12 mb-3">
      <label for="pec" class="font-weight-bold"
        >Codice Unico Ufficio
        <span class="text-danger" title="campo obbligatorio">*</span></label
      >
      <input
        type="text"
        class="form-control"
        formControlName="codiceBeneficiario"
        id="codiceBeneficiario"
        maxlength="6"
      />
      <div
        *ngIf="
          personalOrCompanyForm.controls['codiceBeneficiario'].invalid &&
          (submited ||
            personalOrCompanyForm.controls['codiceBeneficiario'].dirty ||
            personalOrCompanyForm.controls['codiceBeneficiario'].touched)
        "
        class="alert alert-danger"
      >
        <div
          *ngIf="
            personalOrCompanyForm.controls['codiceBeneficiario'].errors.required
          "
        >
          Attenzione! Campo obbligatorio
        </div>
        <div
          *ngIf="
            personalOrCompanyForm.controls['codiceBeneficiario'].errors
              .minlength
          "
        >
          Attenzione! Il valore del campo deve essere di lunghezza 6 caratteri
        </div>
      </div>
    </div>
  </div>
</div>

<app-alert-utente
  [typeMessage]="popUpType"
  [textMessage]="popUpMsg"
  [btn1Label]="popUpBtn1"
  (btn1Emitter)="closePopUp()"
>
</app-alert-utente>
