<!--
  SPDX-FileCopyrightText: (C) Copyright 2024 Regione Piemonte
  
  SPDX-License-Identifier: EUPL-1.2
-->
<footer class="footer">
  <div class="upper-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <img [src]="'assets/img/logo-regione.svg'" alt="Regione Piemonte" />
        </div>
      </div>
    </div>
  </div>
  <div class="blu">
    <div class="container">
      <div class="row hr">
        <div class="col-sm-12 col-md-6 col-lg-6">
          <p class="footer-author">
            Un servizio a cura della Regione Piemonte <br />
            P. Iva 02843860012 - CF 80087670016
          </p>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-6 logo_csi">
          <img [src]="'assets/img/logo-csi.svg'" alt="CSI Piemonte" />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <ul class="b-menu-footer-link">
            <li>
              <a
                href="https://servizi.regione.piemonte.it/cookie-policy"
                target="_blank"
                >Cookie policy <i class="fas fa-external-link-alt"></i
              ></a>
            </li>
            <li>
              <a target="_blank" [href]="AGID_VALIDATION_LINK"
                >Dichiarazione di accessibilità
                <i class="fas fa-external-link-alt"></i
              ></a>
            </li>
            <li>
              <a
                href="https://www.regione.piemonte.it/web/note-legali-privacy"
                target="_blank"
                >Note legali e privacy <i class="fas fa-external-link-alt"></i
              ></a>
            </li>
            <li>
              <a
                href="https://www.regione.piemonte.it/web/redazione"
                target="_blank"
                title="Si apre in una nuova finestra"
                >Meccanismo di feedback <i class="fas fa-external-link-alt"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
