<!--
  SPDX-FileCopyrightText: (C) Copyright 2024 Regione Piemonte
  
  SPDX-License-Identifier: EUPL-1.2
-->
<div *ngIf="showAssociaCertificato == false && showEditCertificato == false">
  <p class="hai-selezionato">Hai selezionato:</p>

  <h1 *ngIf="idInventario == null && fkInventarioFrutti != null">
    Inserisci Partita Semi da Partita Frutti
  </h1>
  <h1 *ngIf="idInventario == null && fkInventarioFrutti == null">
    Inserisci Nuova Partita Semi
  </h1>
  <h1 *ngIf="idInventario != null">
    <span *ngIf="isEdit == false">Modifica</span> Partita Semi
  </h1>

  <div class="row">
    <div class="col text-right mt-3 mb-3">
      <p-button
        [styleClass]="'mr-2 f-18 font-weight-bold form-button'"
        label="TORNA ALLA HOME"
        icon="fa fa-home fa-lg ui-button-icon-left-home"
        iconPos="left"
        (onClick)="goToHome()"
      ></p-button>
    </div>
  </div>

  <div
    class="row"
    [ngClass]="{ disabledALL: !isEdit }"
    [formGroup]="partitaSemiForm"
    *ngIf="partitaSemiForm"
  >
    <div class="col-md-12 my-4">
      <div class="grey-form">
        <div>
          <div class="row">
            <div class="col-lg-4 col-md-3 col-12 mb-3">
              <label for="idInventarioSemi" class="font-weight-bold"
                >ID Partita Semi</label
              >
            </div>
            <div class="col-lg-3 col-md-3 col-12 mb-3">
              <strong>{{ idInventario ? idInventario : "-" }}</strong>
              <input
                type="hidden"
                class="form-control"
                formControlName="idInventarioSemi"
                id="idInventarioSemi"
              />
              <input
                type="hidden"
                class="form-control"
                formControlName="idProvenienza"
                id="idProvenienza"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-3 col-12 mb-3">
              <label for="fkInventarioFrutti" class="font-weight-bold"
                >ID Riferimento Partita Frutti</label
              >
            </div>
            <div class="col-lg-3 col-md-3 col-12 mb-3">
              <strong>{{
                fkInventarioFrutti ? fkInventarioFrutti : "-"
              }}</strong>
              <input
                type="hidden"
                class="form-control"
                formControlName="fkInventarioFrutti"
                id="fkInventarioFrutti"
              />
            </div>
          </div>
          <div [ngClass]="{ disabledALL: fkInventarioFrutti != null }">
            <div class="row">
              <div class="col-lg-6 col-md-3 col-12 mb-3">
                <input
                  type="radio"
                  name="certificatoType"
                  formControlName="certificatoType"
                  id="certificatoType_c"
                  [checked]="certificatoType == 'C'"
                  (change)="changeSpecieRadio('C')"
                  value="C"
                />
                <label
                  for="certificatoType_c"
                  style="padding-left: 15px"
                  class="font-weight-bold"
                >
                  Specie Allegato I del DLgs 386/03 - Certificato di provenienza
                  (calcolato)
                </label>
              </div>
              <div class="col-lg-3 col-md-3 col-12 mb-3">
                {{ codiceCertificato }}
              </div>
              <div class="col-lg-3 col-md-3 col-12 mb-3">
                <p-button
                  class="full-width-media"
                  label="APRI ANAGRAFICA"
                  [disabled]="'C' != certificatoType"
                  (onClick)="apriAnagrafica()"
                  [styleClass]="'ml-2 mb-3 f-18 font-weight-bold form-button'"
                >
                </p-button>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6 col-md-3 col-12 mb-3">
                <input
                  type="radio"
                  name="certificatoType"
                  formControlName="certificatoType"
                  id="certificatoType_l"
                  [checked]="certificatoType == 'L'"
                  (change)="changeSpecieRadio('L')"
                  value="L"
                />
                <label
                  for="certificatoType_l"
                  style="padding-left: 15px"
                  class="font-weight-bold"
                >
                  Specie Allegato I del DLgs 386/03 - Certificato di provenienza
                  (libero)
                </label>
              </div>
              <div class="col-lg-3 col-md-3 col-12 mb-3">
                <input
                  type="text"
                  class="form-control-inline"
                  [readonly]="certificatoType != 'L' || isPianteFather"
                  formControlName="codiceCertificato"
                  id="codiceCertificato"
                  style="width: 100%"
                  maxlength="50"
                />
                <div
                  *ngIf="
                    partitaSemiForm.controls['codiceCertificato'].invalid &&
                    (submited ||
                      partitaSemiForm.controls['codiceCertificato'].dirty ||
                      partitaSemiForm.controls['codiceCertificato'].touched)
                  "
                  class="alert alert-danger"
                >
                  <div
                    *ngIf="
                      partitaSemiForm.controls['codiceCertificato'].errors
                        .required
                    "
                  >
                    Attenzione! Campo obbligatorio
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6 col-md-3 col-12 mb-3">
                <input
                  type="radio"
                  name="certificatoType"
                  formControlName="certificatoType"
                  id="certificatoType_n"
                  [checked]="certificatoType == 'N'"
                  (change)="changeSpecieRadio('N')"
                  value="N"
                />
                <label
                  for="certificatoType_n"
                  style="padding-left: 15px"
                  class="font-weight-bold"
                >
                  Specie Allegato I del DLgs 386/03 - Non per fini forestali
                </label>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6 col-md-3 col-12 mb-3">
                <input
                  type="radio"
                  name="certificatoType"
                  formControlName="certificatoType"
                  id="certificatoType_a"
                  [checked]="certificatoType == 'A'"
                  (change)="changeSpecieRadio('A')"
                  value="A"
                />
                <label
                  for="certificatoType_a"
                  style="padding-left: 15px"
                  class="font-weight-bold"
                >
                  Altra specie
                </label>
              </div>
            </div>
            <div
              *ngIf="
                partitaSemiForm.controls['certificatoType'].invalid &&
                (submited ||
                  partitaSemiForm.controls['certificatoType'].dirty ||
                  partitaSemiForm.controls['certificatoType'].touched)
              "
              class="alert alert-danger"
            >
              <div
                *ngIf="
                  partitaSemiForm.controls['certificatoType'].errors.required
                "
              >
                Attenzione! La scelta di una delle 4 opzioni è obbligatoria
              </div>
            </div>
            <br />

            <div class="row">
              <div class="col-lg-4 col-md-3 col-12 mb-3">
                <label for="fkSpecie" class="font-weight-bold">Specie</label>
              </div>
              <div class="col-lg-6 col-md-3 col-12 mb-3">
                <p-dropdown
                  [options]="listSpecieFiltered"
                  autoHighlight="true"
                  [autoWidth]="false"
                  inputId="fkSpecie"
                  placeholder="Selezionare"
                  formControlName="fkSpecie"
                  [styleClass]="
                    'autoComplete form-control d-flex justify-content-end'
                  "
                  [readonly]="disabledFieldsCertificato || isPianteFather"
                >
                </p-dropdown>
                <div
                  *ngIf="
                    partitaSemiForm.controls['fkSpecie'].invalid &&
                    (submited ||
                      partitaSemiForm.controls['fkSpecie'].dirty ||
                      partitaSemiForm.controls['fkSpecie'].touched)
                  "
                  class="alert alert-danger"
                >
                  <div
                    *ngIf="partitaSemiForm.controls['fkSpecie'].errors.required"
                  >
                    Attenzione! Campo obbligatorio
                  </div>
                </div>
              </div>
            </div>

            <div
              class="row"
              *ngIf="certificatoType == 'C' || certificatoType == 'L'"
            >
              <div class="col-lg-4 col-md-3 col-12 mb-3">
                <label for="dataCertificato" class="font-weight-bold"
                  >Data certificato</label
                >
              </div>
              <div class="col-lg-3 col-md-3 col-12 mb-3">
                <p-calendar
                  [locale]="it"
                  [yearNavigator]="true"
                  [disabled]="disabledFieldsCertificato"
                  [monthNavigator]="true"
                  yearRange="1970:{{ currentYear }}"
                  dateFormat="dd/mm/yy"
                  inputId="dataCertificato"
                  formControlName="dataCertificato"
                  showButtonBar="true"
                  [showIcon]="true"
                >
                </p-calendar>
                <div
                  *ngIf="
                    partitaSemiForm.controls['dataCertificato'].invalid &&
                    (submited ||
                      partitaSemiForm.controls['dataCertificato'].dirty ||
                      partitaSemiForm.controls['dataCertificato'].touched)
                  "
                  class="alert alert-danger"
                >
                  <div
                    *ngIf="
                      partitaSemiForm.controls['dataCertificato'].errors
                        .required
                    "
                  >
                    Attenzione! Campo obbligatorio
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-4 col-md-3 col-12 mb-3">
                <label for="provenienza" class="font-weight-bold"
                  >Provenienza</label
                >
              </div>
              <div class="col-lg-3 col-md-3 col-12 mb-3">
                <input
                  type="text"
                  [readonly]="disabledFieldsCertificato || isPianteFather"
                  class="form-control"
                  formControlName="provenienza"
                  id="provenienza"
                  maxlength="100"
                />
                <div
                  *ngIf="
                    partitaSemiForm.controls['provenienza'].invalid &&
                    (submited ||
                      partitaSemiForm.controls['provenienza'].dirty ||
                      partitaSemiForm.controls['provenienza'].touched)
                  "
                  class="alert alert-danger"
                >
                  <div
                    *ngIf="
                      partitaSemiForm.controls['provenienza'].errors.required
                    "
                  >
                    Attenzione! Campo obbligatorio
                  </div>
                </div>
              </div>
            </div>

            <div
              class="row"
              *ngIf="certificatoType == 'C' || certificatoType == 'L'"
            >
              <div class="col-lg-4 col-md-3 col-12 mb-3">
                <label for="fkCategMateriale" class="font-weight-bold"
                  >Tipo materiale</label
                >
              </div>
              <div class="col-lg-6 col-md-3 col-12 mb-3">
                <p-dropdown
                  [options]="listCategoriaMateriali"
                  autoHighlight="true"
                  [autoWidth]="false"
                  inputId="fkCategMateriale"
                  placeholder="Selezionare"
                  formControlName="fkCategMateriale"
                  [styleClass]="
                    'autoComplete form-control d-flex justify-content-end'
                  "
                  [readonly]="disabledFieldsCertificato || isPianteFather"
                >
                </p-dropdown>
                <div
                  *ngIf="
                    partitaSemiForm.controls['fkCategMateriale'].invalid &&
                    (submited ||
                      partitaSemiForm.controls['fkCategMateriale'].dirty ||
                      partitaSemiForm.controls['fkCategMateriale'].touched)
                  "
                  class="alert alert-danger"
                >
                  <div
                    *ngIf="
                      partitaSemiForm.controls['fkCategMateriale'].errors
                        .required
                    "
                  >
                    Attenzione! Campo obbligatorio
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-4 col-md-3 col-12 mb-3">
                <label for="produttore" class="font-weight-bold"
                  >Produttore</label
                >
              </div>
              <div class="col-lg-3 col-md-3 col-12 mb-3">
                <input
                  type="text"
                  [readonly]="disabledFieldsCertificato || isPianteFather"
                  class="form-control"
                  formControlName="produttore"
                  id="produttore"
                  maxlength="100"
                />
                <div
                  *ngIf="
                    partitaSemiForm.controls['produttore'].invalid &&
                    (submited ||
                      partitaSemiForm.controls['produttore'].dirty ||
                      partitaSemiForm.controls['produttore'].touched)
                  "
                  class="alert alert-danger"
                >
                  <div
                    *ngIf="
                      partitaSemiForm.controls['produttore'].errors.required
                    "
                  >
                    Attenzione! Campo obbligatorio
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row" *ngIf="fkInventarioFrutti">
            <div class="col-lg-4 col-md-3 col-12 mb-3">
              <label for="qtaScaricoFruttiKg" class="font-weight-bold"
                >Quantità scarico frutti (Kg)</label
              >
            </div>
            <div class="col-lg-3 col-md-3 col-12 mb-3">
              <input
                type="text"
                class="form-control"
                formControlName="qtaScaricoFruttiKg"
                id="qtaScaricoFruttiKg"
                maxlength="7"
                (keyup)="onValueChange('qtaScaricoFruttiKg')"
              />
              <div
                *ngIf="
                  partitaSemiForm.controls['qtaScaricoFruttiKg'].invalid &&
                  (submited ||
                    partitaSemiForm.controls['qtaScaricoFruttiKg'].dirty ||
                    partitaSemiForm.controls['qtaScaricoFruttiKg'].touched)
                "
                class="alert alert-danger"
              >
                <div
                  *ngIf="
                    partitaSemiForm.controls['qtaScaricoFruttiKg'].errors
                      .required
                  "
                >
                  Attenzione! Campo obbligatorio
                </div>
                <div
                  *ngIf="
                    partitaSemiForm.controls['qtaScaricoFruttiKg'].errors
                      .pattern
                  "
                >
                  Attenzione! Il campo ammette solo valori numerici con massimo
                  3 decimali
                </div>
                <div
                  *ngIf="
                    partitaSemiForm.controls['qtaScaricoFruttiKg'].errors
                      .maxValue
                  "
                >
                  Attenzione! Quantità massima disponibile:
                  {{ utilService.getItNum(qtaFkFruttiResidua) }} Kg
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-4 col-md-3 col-12 mb-3">
              <label for="dataCarico" class="font-weight-bold"
                >Data carico</label
              >
            </div>
            <div class="col-lg-3 col-md-3 col-12 mb-3">
              <p-calendar
                [locale]="it"
                [yearNavigator]="true"
                [monthNavigator]="true"
                yearRange="1970:{{ currentYear }}"
                dateFormat="dd/mm/yy"
                inputId="dataCarico"
                formControlName="dataCarico"
                showButtonBar="true"
                [showIcon]="true"
              >
              </p-calendar>
              <div
                *ngIf="
                  partitaSemiForm.controls['dataCarico'].invalid &&
                  (submited ||
                    partitaSemiForm.controls['dataCarico'].dirty ||
                    partitaSemiForm.controls['dataCarico'].touched)
                "
                class="alert alert-danger"
              >
                <div
                  *ngIf="partitaSemiForm.controls['dataCarico'].errors.required"
                >
                  Attenzione! Campo obbligatorio
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-4 col-md-3 col-12 mb-3">
              <label for="qtaCaricoKg" class="font-weight-bold"
                >Quantità carico di semi (Kg)</label
              >
            </div>
            <div class="col-lg-3 col-md-3 col-12 mb-3">
              <input
                type="text"
                class="form-control"
                formControlName="qtaCaricoKg"
                id="qtaCaricoKg"
                maxlength="7"
                (keyup)="onValueChange('qtaCaricoKg')"
              />
              <div
                *ngIf="
                  partitaSemiForm.controls['qtaCaricoKg'].invalid &&
                  (submited ||
                    partitaSemiForm.controls['qtaCaricoKg'].dirty ||
                    partitaSemiForm.controls['qtaCaricoKg'].touched)
                "
                class="alert alert-danger"
              >
                <div
                  *ngIf="
                    partitaSemiForm.controls['qtaCaricoKg'].errors.required
                  "
                >
                  Attenzione! Campo obbligatorio
                </div>
                <div
                  *ngIf="partitaSemiForm.controls['qtaCaricoKg'].errors.pattern"
                >
                  Attenzione! Il campo ammette solo valori numerici con massimo
                  3 decimali
                </div>
                <div
                  *ngIf="
                    partitaSemiForm.controls['qtaCaricoKg'].errors.maxValue
                  "
                >
                  Attenzione! Quantità massima disponibile:
                  {{ utilService.getItNum(qtaFkSemiResidua) }} Kg
                </div>
                <div
                  *ngIf="
                    partitaSemiForm.controls['qtaCaricoKg'].errors
                      .quantitaNegative
                  "
                >
                  Attenzione! La “quantità carico” non può essere inferiore a
                  {{ utilService.getItNum(-qtaDisponibileDelta) }} Kg,
                  altrimenti la “quantità disponibile residua” assume un valore
                  negativo
                </div>
              </div>
            </div>
          </div>

          <div class="row" *ngIf="idInventario">
            <div class="col-lg-4 col-md-3 col-12 mb-3">
              <label for="qtaScaricoVenditaKg" class="font-weight-bold"
                >Quantità scarico in vendita (Kg)</label
              >
            </div>
            <div class="col-lg-3 col-md-3 col-12 mb-3">
              <input
                type="text"
                class="form-control"
                formControlName="qtaScaricoVenditaKg"
                id="qtaScaricoVenditaKg"
                maxlength="7"
                (keyup)="onValueChange('qtaScaricoVenditaKg')"
              />
              <div
                *ngIf="
                  partitaSemiForm.controls['qtaScaricoVenditaKg'].invalid &&
                  (submited ||
                    isAnyTouched([
                      'qtaCaricoKg',
                      'qtaScaricoVenditaKg',
                      'qtaDistruzioneKg'
                    ]))
                "
                class="alert alert-danger"
              >
                <div
                  *ngIf="
                    partitaSemiForm.controls['qtaScaricoVenditaKg'].errors
                      .required
                  "
                >
                  Attenzione! Campo obbligatorio
                </div>
                <div
                  *ngIf="
                    partitaSemiForm.controls['qtaScaricoVenditaKg'].errors
                      .pattern
                  "
                >
                  Attenzione! Il campo ammette solo valori numerici con massimo
                  3 decimali
                </div>
                <div
                  *ngIf="
                    partitaSemiForm.controls['qtaScaricoVenditaKg'].errors
                      .quantitaOk
                  "
                >
                  Attenzione! La somma di “quantità scarico vendita” e “quantità
                  distruzione rimanenze” non può essere superiore a
                  {{ getQtaDisponibile() }} Kg , altrimenti la “quantità
                  disponibile residua” assume un valore negativo
                </div>
              </div>
            </div>
          </div>

          <div class="row" *ngIf="idInventario">
            <div class="col-lg-4 col-md-3 col-12 mb-3">
              <label for="qtaDistruzioneKg" class="font-weight-bold"
                >Distruzione rimanenze (Kg)</label
              >
            </div>
            <div class="col-lg-3 col-md-3 col-12 mb-3">
              <input
                type="text"
                class="form-control"
                formControlName="qtaDistruzioneKg"
                id="qtaDistruzioneKg"
                maxlength="7"
                (keyup)="onValueChange('qtaDistruzioneKg')"
              />
              <div
                *ngIf="
                  partitaSemiForm.controls['qtaDistruzioneKg'].invalid &&
                  (submited ||
                    isAnyTouched([
                      'qtaCaricoKg',
                      'qtaScaricoVenditaKg',
                      'qtaDistruzioneKg'
                    ]))
                "
                class="alert alert-danger"
              >
                <div
                  *ngIf="
                    partitaSemiForm.controls['qtaDistruzioneKg'].errors.required
                  "
                >
                  Attenzione! Campo obbligatorio
                </div>
                <div
                  *ngIf="
                    partitaSemiForm.controls['qtaDistruzioneKg'].errors.pattern
                  "
                >
                  Attenzione! Il campo ammette solo valori numerici con massimo
                  3 decimali
                </div>
                <div
                  *ngIf="
                    partitaSemiForm.controls['qtaDistruzioneKg'].errors
                      .quantitaOk
                  "
                >
                  Attenzione! La somma di “quantità scarico vendita” e “quantità
                  distruzione rimanenze” non può essere superiore a
                  {{ getQtaDisponibile() }} Kg , altrimenti la “quantità
                  disponibile residua” assume un valore negativo
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-right">
      <p-button
        class="full-width-media"
        label="CONFERMA {{ idInventario == null ? '' : 'MODIFICHE' }}"
        *ngIf="isEdit"
        (onClick)="conferma()"
        [styleClass]="'ml-2 mb-3 f-18 font-weight-bold form-button'"
      >
      </p-button>

      <p-button
        class="full-width-media"
        label="ELIMINA PARTITA"
        *ngIf="idInventario != null && isEdit"
        [disabled]="isPianteFather"
        (onClick)="eliminaPartita()"
        [styleClass]="'ml-2 mb-3 f-18 font-weight-bold form-button'"
      >
      </p-button>
      <p-button
        class="full-width-media"
        label="CREA PARTITA PIANTE DA QUESTA PARTITA SEMI"
        *ngIf="idInventario != null && isEdit"
        [disabled]="qtaPerCreaPiantine <= 0"
        (onClick)="creaPartitaPianteDaSemi()"
        [styleClass]="'ml-2 mb-3 f-18 font-weight-bold form-button'"
      >
      </p-button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p-button
        class="full-width-media"
        label="INDIETRO"
        (onClick)="indietro()"
        [styleClass]="'mb-3 btn-outline-primary'"
      >
      </p-button>
    </div>
  </div>
</div>

<app-inventario-certificati
  *ngIf="showAssociaCertificato == true"
  [tipoPartita]="'semi'"
  (emitIndietro)="hideAssociaCertificato()"
  (emitCertificato)="editCertificato($event)"
  (emitAssocciaCertificato)="associaCertificato($event)"
>
</app-inventario-certificati>

<app-form-certificato
  *ngIf="showEditCertificato == true"
  [idProvenienza]="idProvenienza"
  [isInternalPage]="true"
  (emitIndietro)="apriAnagrafica()"
>
</app-form-certificato>

<app-alert-utente
  [typeMessage]="popUpType"
  [textMessage]="popUpMsg"
  [btn1Label]="popUpBtn1"
  (btn1Emitter)="closePopUp()"
>
</app-alert-utente>
