<!--
  SPDX-FileCopyrightText: (C) Copyright 2024 Regione Piemonte
  
  SPDX-License-Identifier: EUPL-1.2
-->
<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4"
    xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">


    <listener>
        <listener-class>it.csi.vifo.vifoapi.util.AppServletContextListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap</listener-class>
    </listener>

    <listener>
        <listener-class>org.jboss.resteasy.plugins.spring.SpringContextLoaderListener</listener-class>
    </listener>

    <!--     <listener>
           <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
          </listener> -->

    <!-- filtro di protezione ad attacchi XSRF -->
    <filter>
        <filter-name>XSRFProtectionFilter</filter-name>
        <filter-class>it.csi.vifo.vifoapi.filter.XSRFProtectionFilter</filter-class>
        <init-param>
            <param-name>disabled</param-name>
            <param-value>@@@XSRFFILTER.DISABLED@@@</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>XSRFProtectionFilter</filter-name>
        <url-pattern>/private/*</url-pattern>
        <url-pattern>/restfacade/be/private/*</url-pattern>
    </filter-mapping>


    <!-- filtro di recepimento token autenticazione -->

    <filter>
        <filter-name>IrideIdAdapterFilter</filter-name>
        <filter-class>it.csi.vifo.vifoapi.filter.IrideIdAdapterFilter</filter-class>
        <init-param>
            <param-name>devmode</param-name>
            <param-value>@@@IDADAPTERFILTER.DEVMODE@@@</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>IrideIdAdapterFilter</filter-name>
        <url-pattern>/private/*</url-pattern>
        <url-pattern>/restfacade/be/private/*</url-pattern>
        <url-pattern>/restfacade/be/callback/*</url-pattern>
    </filter-mapping>


    <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>it.csi.vifo.vifoapi.filter.CorsFilter</filter-class>
        <init-param>
            <param-name>enablecors</param-name>
            <param-value>@@@CORSFILTER.ENABLECORS@@@</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!--
    <filter>
        <filter-name>SecurityFilter</filter-name>
        <filter-class>it.csi.vifo.vifoapi.filter.SecurityFilter</filter-class>
        <init-param>
            <param-name>enablesecurity</param-name>
            <param-value>@@@SECURITYFILTER.ENABLESECURITY@@@</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>SecurityFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    -->

    <context-param>
        <param-name>resteasy.providers</param-name>
        <param-value>it.csi.vifo.vifoapi.business.be.JacksonConfig</param-value>
    </context-param>

    <!-- replica della sessione (pur essendo i servizi stateless, serve per replicare il contesto
         di autenticazione e il token xsrf, quindi e' necessario solo nello scenario SPA-REST -->
    <!--  <distributable />  -->

</web-app>