<!--
  SPDX-FileCopyrightText: (C) Copyright 2024 Regione Piemonte
  
  SPDX-License-Identifier: EUPL-1.2
-->
<div>
  <p class="hai-selezionato">Hai selezionato:</p>

  <h1 *ngIf="domanda && tipoDomanda == 'gratuita'">
    Riepilogo domanda per assegnazione gratuita di piantine
  </h1>
  <h1 *ngIf="domanda && tipoDomanda == 'vendita'">
    Riepilogo domanda per assegnazione onerosa di piantine
  </h1>

  <div class="row">
    <div class="col text-right mt-3 mb-3">
      <p-button
        [styleClass]="'mr-2 f-18 font-weight-bold form-button'"
        label="TORNA ALLA HOME"
        icon="fa fa-home fa-lg ui-button-icon-left-home"
        iconPos="left"
        (onClick)="goToHome()"
      ></p-button>
    </div>
  </div>
  <hr />

  <app-header-riepilogo
    [domanda]="domanda"
    [infoDomanda]="infoDomanda"
    [personData]="personData"
    [vivaio]="vivaio"
  ></app-header-riepilogo>

  <p-accordion [styleClass]="'my-4'">
    <p-accordionTab header="DATI DEL RICHIEDENTE">
      <app-show-richiedente
        [titolarita]="infoDomanda?.titolarita"
        [richiedente]="personData"
      >
      </app-show-richiedente>
    </p-accordionTab>
    <p-accordionTab header="DESTINAZIONI" *ngIf="tipoDomanda == 'gratuita'">
      <app-show-destinazioni
        [listDestinazioni]="listDestinazioni"
      ></app-show-destinazioni>
    </p-accordionTab>
    <p-accordionTab header="SPECIE RICHIESTE">
      <app-show-specie-richieste
        [listSpecie]="listSpecie"
      ></app-show-specie-richieste>
    </p-accordionTab>
    <p-accordionTab header="ELENCO ALLEGATI CARICATI">
      <app-show-allegati [listDocumenti]="listDocumenti"></app-show-allegati>
    </p-accordionTab>
  </p-accordion>
  <hr />

  <div class="row">
    <div class="col-md-12">
      <p-button
        class="full-width-media"
        label="INDIETRO"
        (onClick)="indietro()"
        [styleClass]="'mb-3 btn-outline-primary'"
      >
      </p-button>
    </div>
  </div>
</div>
